<div >
    <div class="header col-md-12" style="position: absolute; margin: 0; padding: 0;">
        <div class="col-md-12 row" style="margin: 0; padding: 0;">
            <div class="col-md-4">
                <img id="imgEasy" src="~/Assets/top.png" style="max-width: 400px;" />
            </div>
            <div class="col-md-8">
                <p id="title">Banco de Talentos - Easy Communication & Technology <br />(Developers/Desenvolvedores)
            </div>
            <div class="col-md-12" id="menuTop">
            </div>

        </div>
    </div>
    <div id ="content" class="content" style="padding-top: 180px;" ng-controller="contentCtrl">
        <div id="carouselControls" class="col-md-12 carousel slide" data-ride="carousel">
            <div class="col-md-12  carousel-inner " role="listbox">
                <div class="carousel-item active item-active">
                    <div class="row col-md-12">
                        <div class="col-md-3 ">
                            <h3>Olá Geek!</h3><br />
                            <p>Primeiramente quero agradecer por acreditar na Easy! </p>
                            <br />
                            <h3>Talentos Cadastrados</h3>
                            <p>
                                <table name="tableTalentos" class="table table-striped" style="padding-top: 10px;" >
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td >Nome</td>
                                        <td >Email</td>
                                    </tr>
                                    <tr ng-repeat="talento in talentos">
                                        <td><i ng-click="editTalento(talento)" title="Edit" class="fa fa-edit"></i></td>
                                        <td><i ng-confirm-click="Você tem certeza?" ng-click="deleteTalento(talento.IdTalento)" title="Delete" class="fa fa-remove"></i></td>
                                        <td>{{talento.NomeTalento}}</td>
                                        <td>{{talento.EmailTalento}}</td>
                                    </tr>
                                </table>
                            </p>
                        </div>
                        <div class="col-md-3">
                            <h6>Videos</h6><br />
                            <p>
                                Lhe convido a assistir nossos vídeos no YouTube para entender melhor o que fazemos, como pensamos
                                e o que buscamos:<br /><br />
                                <b>Easycomtec: </b><a href="https://www.youtube.com/easycomtec">youtube.com/easycomtec</a><br />
                                <b>Como é: </b> <a href="https://www.youtube.com/watch?v=UEaN1W1nDPw">
                                    youtube.com/workoneasy
                                </a>
                            </p>

                            <h6>Tutoriais</h6>
                            <p>
                                Nós temos alguns tutoriais sobre as tecnologias que utilizamos, sugiro estudar nesta ordem:<br /><br />

                                <b>HTML:</b> <a href="http://www.w3schools.com/html/default.asp">w3schools.com/html</a><br />
                                <b>CSS:</b> <a href="http://www.w3schools.com/css/default.asp">w3schools.com/css</a><br />
                                <b>AngularJs:</b> <a href="http://www.w3schools.com/angular/default.asp">w3schools.com/angular</a><br />
                                <b>AngularJs(pt-BR): </b><a href="https://www.youtube.com/watch?v=_y7rKxqPoyg&list=PLQCmSnNFVYnTD5p2fR4EXmtlR6jQJMbPb">youtube.com/angularJs</a><br />
                                <b>Chrome Dev: </b><a href="https://www.youtube.com/watch?v=7cqh7MGLgaM&list=PLB9EC47A6AAE4540F">youtube.com/chromeDev</a><br>
                                <b>Asp.Net: </b><a href="https://www.youtube.com/playlist?list=PLTHIfO0UrihExHVtUgcb_RQe1Rqotlz-P">youtube.com/adp.net</a><br>

                            </p>
                        </div>
                        <div class="col-md-3">

                            <h6>Grupos:</h6> <br />
                            <p>
                                Esses grupos servem para as pessoas interessadas em participar dos projetos da Easy, são grupos
                                de estudo onde o pessoal debate, trocam ideias, documentos, links (Inclusive links de tutoriais
                                da própria Easy, onde já te direciona para o que ela precisa) e por aí vai.<br /><br />
                                <b>Skype Training</b>: <a href="https://join.skype.com/vk2Hi10IlrDr">skype/vk2Hi10IlrDr</a>                                <br />
                                <b>Whatsapp: </b><a href="https://chat.whatsapp.com/invite/4VAl3Euwwro9rg4TtFqAKn">
                                    whatsapp.com/invite/easy
                                </a>
                            </p>
                            <p>
                                Caso você queira acompanhar os comunicados para os desenvolvedores, entre neste grupo (todos
                                podem participar):<br /><br />
                                <b>Google Easy Developers:</b> <a href="https://groups.google.com/forum/#!forum/easy-developers">
                                    groups.google/easy-developers
                                </a><br /><br /> Caso você já tenha o email
                                da Easy, no nosso grupo a ideia é debater ideias para melhorar a empresa:<br /><br />
                                <b>Google Easy Technology: </b><a href="https://groups.google.com/forum/#!forum/easy-communication-technology">
                                    groups.google/easy-technology
                                </a>
                            </p>
                        </div>
                        <div class="col-md-3">
                            <h6>Banco de talentos:</h6> <br />
                            <p>Para inscrever-se em nosso banco de talentos preencha seu email. </p>
                            <form id="emailForm" name="emailForm">
                                <input id="txtEmail" type="email" name="emailTalento" ng-model="talento.EmailTalento" ng-required="required"
                                       class="form-control" placeholder="e-mail" />
                                <div style="padding-top: 5px; padding-left: 5px;float: right" ;>
                                    <button hidden id="btnEditar" ng-click="editarTalento()" ng-disabled="!talento.IdTalento" class="btn btn-primary">Editar</button>
                                    <button hidden id="btnNovo" ng-click="novoTalento()" ng-disabled="!talento.IdTalento" class="btn btn-primary">Novo</button>
                                    <button id="btnContinuar" ng-disabled="talento.IdTalento || (!talento.EmailTalento  || emailForm.emailTalento.$invalid)" class="btn btn-primary">Continuar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container col-md-12">
                        <div class="row" id="#infoPessoal">
                            <div class="col-md-12" style="padding-top: 10px;">
                                <h5>Se você atua como desenvolvedor ou DBA, continue o preenchimento deste formulário</h5>
                                </div>
                                <div class="col-md-6">
                                    <label for="txtNome">Nome:</label>
                                    <input id="txtNome" name="nomeTalento" ng-model="talento.NomeTalento" ng-required="required" type="text" class="form-control nome" placeholder="Nome" />

                                    <label for="txtTelefone">Telefone:</label>
                                    <input id="txtTelefone" type="tel" name="telefoneTalento" ng-model="talento.TelefoneTalento" ng-required="required"
                                           class="form-control" placeholder="(00)9999-9999" minlength="9" maxlength="14"/>

                                    <label for="txtSkype">Skype:</label>
                                    <input id="txtSkype" type="text" name="skypeTalento" ng-model="talento.SkypeTalento"  class="form-control" placeholder="Skype" />
                                    
                                    
                                    <label for="txtLinkedin">Linkedin:</label>
                                    <input id="txtLinkedin" type="text" name="linkedinTalento" ng-model="talento.LinkedinTalento"  class="form-control" placeholder="Linkedin" />
                                </div>
                                <div class="col-md-6">
                                    <label for="txtCidade">Cidade:</label>
                                    <input id="txtCidade" type="text" name="cidadeTalento" ng-model="talento.CidadeTalento" class="form-control" placeholder="Cidade" />
                                    <label for="txtEstado">Estado:</label>
                                    <input id="txtEstado" type="text" name="estadoTalento" ng-model="talento.EstadoTalento"  class="form-control" placeholder="Estado" />
                                    <label for="txtPortifolio">Portifolio:</label>
                                    <input id="txtPortifolio" type="text" name="portifolioTalento" ng-model="talento.PortifolioTalento"  class="form-control" placeholder="Portifolio" />
                                    <div style="padding-top: 25px; padding-left: 5px;float: right" ;>
                                        <button ng-disabled="!talento.NomeTalento || !talento.TelefoneTalento" id="btnContinuar2" class="btn btn-primary">Continuar</button>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="row" id="#disponibilidade">
                            <div class="col-md-4">
                                <h6>Qual é sua disponibilidade para trabalhar hoje?</h6><br />
                                <label class="custom-control custom-checkbox">
                                    <input id="chkDisponibilidade1" ng-model="talento.DisponibilidadeTalento" ng-true-value="'Até 4 horas por dia'" type="checkbox" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Até 4 horas por dia</span>
                                </label><br />
                                <label class="custom-control custom-checkbox">
                                    <input id="chkDisponibilidade2" ng-model="talento.DisponibilidadeTalento" ng-true-value="'De 4 á 6 horas por dia'" type="checkbox" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">De 4 á 6 horas por dia</span>
                                </label>
                                <label class="custom-control custom-checkbox">
                                    <input id="chkDisponibilidade3" ng-model="talento.DisponibilidadeTalento" ng-true-value="'De 6 á 8 horas por dia'" type="checkbox" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">De 6 á 8 horas por dia</span>
                                </label>
                                <label class="custom-control custom-checkbox">
                                    <input id="chkDisponibilidade4" ng-model="talento.DisponibilidadeTalento" ng-true-value="'Acima de 8 horas por dia'" type="checkbox" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Acima de 8 horas por dia (tem certeza?)</span>
                                </label>
                                <label class="custom-control custom-checkbox">
                                    <input id="chkDisponibilidade5" ng-model="talento.DisponibilidadeTalento" ng-true-value="'Apenas finais de semana'" type="checkbox" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Apenas finais de semana</span>
                                </label>

                            </div>
                            <div class="col-md-4">
                                <h6>Pra você qual é o melhor horário para trabalhar?</h6><br />
                                <label class="custom-control custom-checkbox">
                                    <input id="chkHorario1" ng-model="talento.HorarioTalento" ng-true-value="'Manhã (de 08:00 ás 12:00)'" type="checkbox" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Manhã (de 08:00 ás 12:00)</span>
                                </label>
                                <label class="custom-control custom-checkbox">
                                    <input id="chkHorario2" ng-model="talento.HorarioTalento" ng-true-value="'Tarde (de 13:00 ás 18:00)'" type="checkbox" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Tarde (de 13:00 ás 18:00)</span>
                                </label>
                                <label class="custom-control custom-checkbox">
                                    <input id="chkHorario3" ng-model="talento.HorarioTalento" ng-true-value="'Noite (de 19:00 as 22:00)'" type="checkbox" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Noite (de 19:00 as 22:00)</span>
                                </label>
                                <label class="custom-control custom-checkbox">
                                    <input id="chkHorario4" ng-model="talento.HorarioTalento" ng-true-value="'Madrugada (de 22:00 em diante)'" type="checkbox" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Madrugada (de 22:00 em diante)</span>
                                </label>
                                <label class="custom-control custom-checkbox">
                                    <input id="chkHorario5" ng-model="talento.HorarioTalento" ng-true-value="'Comercial (de 08:00 as 18:00)'" type="checkbox" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Comercial (de 08:00 as 18:00)</span>
                                </label>
                            </div>
                            <div class="col-md-4">
                                <h6>Qual sua pretensão salarial por hora?</h6><br />
                                <input  id="txtSalario" name="salario" ng-model="talento.PretencaoTalento" 
                                       ng-required="required" type="text" style="text-align:left;" class="form-control" />
                                <div style="padding-top: 25px; padding-left: 5px;float: right;">
                                    <button id="btnContinuar3" ng-disabled="!talento.PretencaoTalento" class="btn btn-primary">Continuar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="row" id="#infoBancaria">
                            <div class="col-md-12">
                                <h3>Informação bancária</h3>
                                Você pode optar em receber seu pagamento pelo Paypal, PagSeguro ou contas bancarias convencionais
                            </div>
                            <div style="padding-top: 10px;" class="col-md-6">
                                <label for="txtxNomeTalentoBanco">Nome:</label>
                                <input id="txtxNomeTalentoBanco" name="nomeTalentoBanco" ng-model="talento.NomeTalentoBanco" type="text" class="form-control" placeholder="Nome" />
                                
                                <label for="txtCpf">CPF:</label>
                                <input id="txtCpf" type="text" name="cpf" ng-model="talento.CpfTalento" class="form-control" placeholder="CPF" />
                                
                                <label for="txtBanco">Banco:</label>
                                <input id="txtBanco" type="text" name="bancoTalento" ng-model="talento.BancoTalento" class="form-control" placeholder="Banco ( Itau, Bradesco, ect..)" />
                            </div>
                            <div style="padding-top: 10px;" class="col-md-6">
                                <label for="txtAgencia">Agencia:</label>
                                <input id="txtAgencia" type="text" name="agenciaTalento" ng-model="talento.AgenciaTalento" class="form-control" placeholder="Agencia" />
                                
                                <label for="txtConta">Número da conta:</label>
                                <input id="txtConta" type="text" name="contaTalento" ng-model="talento.ContaTalento" class="form-control" placeholder="Número da conta" />
                                
                                <label style="padding-top: 5px;">Tipo de Conta:</label><br />
                                <label class="custom-control custom-checkbox">
                                    <input id="chkContaCorrente" ng-model="talento.TipoContaTalento" ng-true-value="'Conta Corrente'" checked type="checkbox" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Conta Corrente</span>
                                </label>
                                <label class="custom-control custom-checkbox">
                                    <input id="chkContaPoupanca" ng-model="talento.TipoContaTalento" ng-true-value="'Conta Poupança'" type="checkbox" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Conta Poupança</span>
                                </label>
                                <div style="padding-top: 25px; padding-left: 5px;float: right" ;>
                                    <button id="btnContinuar4" class="btn btn-primary">Continuar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item ">
                    <div class="container">
                        <div class="row" id="#conhecimentos">
                            <div class="col-sm-12">
                                Avalie-se de 0 a 5 quanto aos conhecimentos especificados abaixo, e tudo bem se não souber de muitas coisas, o importante
                                é que seja sincero!<br />
                                <br />
                            </div>
                            <div class="col-sm-4  btnList">
                                <div class="row col-sm-12">
                                    <div class="col-sm-4">
                                        <h5 style="padding-top:5px;">Ionic</h5>
                                    </div>
                                    <div class="col-sm-8">                                        
    @*<button ng-click="mostrar(talento.ConhecimentosTalento)">teste</button>*@
                                        <button name="Ionic0" ng-click="setConhecimento(talento, 'Ionic', 0)" class="btn btn-sm btnScale" value="0">0</button>
                                        <button name="Ionic1" ng-click="setConhecimento(talento, 'Ionic', 1)" class="btn btn-sm btnScale" value="1">1</button>
                                        <button name="Ionic2" ng-click="setConhecimento(talento, 'Ionic', 2)" class="btn btn-sm btnScale" value="2">2</button>
                                        <button name="Ionic3" ng-click="setConhecimento(talento, 'Ionic', 3)" class="btn btn-sm btnScale" value="3">3</button>
                                        <button name="Ionic4" ng-click="setConhecimento(talento, 'Ionic', 4)" class="btn btn-sm btnScale" value="4">4</button>
                                        <button name="Ionic5" ng-click="setConhecimento(talento, 'Ionic', 5)" class="btn btn-sm btnScale" value="5">5</button>
                                        </div>
                                </div>
                                <div class="row col-sm-12">
                                    <div class="col-sm-4">
                                        <h5 style="padding-top:5px;">Android</h5>
                                    </div>
                                    <div class="col-sm-8 btnList">
                                        <button name="Android0" ng-click="setConhecimento(talento, 'Android', 0)" class="btn btn-sm btnScale" value="0">0</button>
                                        <button name="Android1" ng-click="setConhecimento(talento, 'Android', 1)" class="btn btn-sm btnScale" value="1">1</button>
                                        <button name="Android2" ng-click="setConhecimento(talento, 'Android', 2)" class="btn btn-sm btnScale" value="2">2</button>
                                        <button name="Android3" ng-click="setConhecimento(talento, 'Android', 3)" class="btn btn-sm btnScale" value="3">3</button>
                                        <button name="Android4" ng-click="setConhecimento(talento, 'Android', 4)" class="btn btn-sm btnScale" value="4">4</button>
                                        <button name="Android5" ng-click="setConhecimento(talento, 'Android', 5)" class="btn btn-sm btnScale" value="5">5</button>
                                    </div>
                                </div>
                                <div class="row col-sm-12">
                                    <div class="col-sm-4">
                                        <h5 style="padding-top:5px;">IOS</h5>
                                    </div>
                                    <div class="col-sm-8">
                                        <button name="IOS0" ng-click="setConhecimento(talento, 'IOS', 0)" class="btn btn-sm btnScale" value="0">0</button>
                                        <button name="IOS1" ng-click="setConhecimento(talento, 'IOS', 1)" class="btn btn-sm btnScale" value="1">1</button>
                                        <button name="IOS2" ng-click="setConhecimento(talento, 'IOS', 2)" class="btn btn-sm btnScale" value="2">2</button>
                                        <button name="IOS3" ng-click="setConhecimento(talento, 'IOS', 3)" class="btn btn-sm btnScale" value="3">3</button>
                                        <button name="IOS4" ng-click="setConhecimento(talento, 'IOS', 4)" class="btn btn-sm btnScale" value="4">4</button>
                                        <button name="IOS5" ng-click="setConhecimento(talento, 'IOS', 5)" class="btn btn-sm btnScale" value="5">5</button>
                                    </div>
                                </div>
                                <div class="row col-sm-12">
                                    <div class="col-sm-4">
                                        <h5 style="padding-top:5px;">HTML</h5>
                                    </div>
                                    <div class="col-sm-8">
                                        <button name="HTML0" ng-click="setConhecimento(talento, 'HTML', 0)" class="btn btn-sm btnScale" value="0">0</button>
                                        <button name="HTML1" ng-click="setConhecimento(talento, 'HTML', 1)" class="btn btn-sm btnScale" value="1">1</button>
                                        <button name="HTML2" ng-click="setConhecimento(talento, 'HTML', 2)" class="btn btn-sm btnScale" value="2">2</button>
                                        <button name="HTML3" ng-click="setConhecimento(talento, 'HTML', 3)" class="btn btn-sm btnScale" value="3">3</button>
                                        <button name="HTML4" ng-click="setConhecimento(talento, 'HTML', 4)" class="btn btn-sm btnScale" value="4">4</button>
                                        <button name="HTML5" ng-click="setConhecimento(talento, 'HTML', 5)" class="btn btn-sm btnScale" value="5">5</button>
                                    </div>
                                </div>
                                <div class="row col-sm-12">
                                    <div class="col-sm-4">
                                        <h5 style="padding-top:5px;">CSS</h5>
                                    </div>
                                    <div class="col-sm-8">
                                        <button name="CSS0" ng-click="setConhecimento(talento, 'CSS', 0)" class="btn btn-sm btnScale" value="0">0</button>
                                        <button name="CSS1" ng-click="setConhecimento(talento, 'CSS', 1)" class="btn btn-sm btnScale" value="1">1</button>
                                        <button name="CSS2" ng-click="setConhecimento(talento, 'CSS', 2)" class="btn btn-sm btnScale" value="2">2</button>
                                        <button name="CSS3" ng-click="setConhecimento(talento, 'CSS', 3)" class="btn btn-sm btnScale" value="3">3</button>
                                        <button name="CSS4" ng-click="setConhecimento(talento, 'CSS', 4)" class="btn btn-sm btnScale" value="4">4</button>
                                        <button name="CSS5" ng-click="setConhecimento(talento, 'CSS', 5)" class="btn btn-sm btnScale" value="5">5</button>
                                    </div>
                                </div>
                                <div class="row col-sm-12">
                                    <div class="col-sm-4">
                                        <h5 style="padding-top:5px;">Bootstrap</h5>
                                    </div>
                                    <div class="col-sm-8">
                                        <button name="Bootstrap0" ng-click="setConhecimento(talento, 'Bootstrap', 0)" class="btn btn-sm btnScale" value="0">0</button>
                                        <button name="Bootstrap1" ng-click="setConhecimento(talento, 'Bootstrap', 1)" class="btn btn-sm btnScale" value="1">1</button>
                                        <button name="Bootstrap2" ng-click="setConhecimento(talento, 'Bootstrap', 2)" class="btn btn-sm btnScale" value="2">2</button>
                                        <button name="Bootstrap3" ng-click="setConhecimento(talento, 'Bootstrap', 3)" class="btn btn-sm btnScale" value="3">3</button>
                                        <button name="Bootstrap4" ng-click="setConhecimento(talento, 'Bootstrap', 4)" class="btn btn-sm btnScale" value="4">4</button>
                                        <button name="Bootstrap5" ng-click="setConhecimento(talento, 'Bootstrap', 5)" class="btn btn-sm btnScale" value="5">5</button>
                                    </div>
                                </div>
                                <div class="row col-sm-12">
                                    <div class="col-sm-4">
                                        <h5 style="padding-top:5px;">Jquery</h5>
                                    </div>
                                    <div class="col-sm-8">
                                        <button name="Jquery0" ng-click="setConhecimento(talento, 'Jquery', 0)" class="btn btn-sm btnScale" value="0">0</button>
                                        <button name="Jquery1" ng-click="setConhecimento(talento, 'Jquery', 1)" class="btn btn-sm btnScale" value="1">1</button>
                                        <button name="Jquery2" ng-click="setConhecimento(talento, 'Jquery', 2)" class="btn btn-sm btnScale" value="2">2</button>
                                        <button name="Jquery3" ng-click="setConhecimento(talento, 'Jquery', 3)" class="btn btn-sm btnScale" value="3">3</button>
                                        <button name="Jquery4" ng-click="setConhecimento(talento, 'Jquery', 4)" class="btn btn-sm btnScale" value="4">4</button>
                                        <button name="Jquery5" ng-click="setConhecimento(talento, 'Jquery', 5)" class="btn btn-sm btnScale" value="5">5</button>
                                    </div>
                                </div>
                                <div class="row col-sm-12">
                                    <div class="col-sm-4">
                                        <h5 style="padding-top:5px;">AngularJs</h5>
                                    </div>
                                    <div class="col-sm-8">
                                        <button name="AngularJs0" ng-click="setConhecimento(talento, 'AngularJs', 0)" class="btn btn-sm btnScale" value="0">0</button>
                                        <button name="AngularJs1" ng-click="setConhecimento(talento, 'AngularJs', 1)" class="btn btn-sm btnScale" value="1">1</button>
                                        <button name="AngularJs2" ng-click="setConhecimento(talento, 'AngularJs', 2)" class="btn btn-sm btnScale" value="2">2</button>
                                        <button name="AngularJs3" ng-click="setConhecimento(talento, 'AngularJs', 3)" class="btn btn-sm btnScale" value="3">3</button>
                                        <button name="AngularJs4" ng-click="setConhecimento(talento, 'AngularJs', 4)" class="btn btn-sm btnScale" value="4">4</button>
                                        <button name="AngularJs5" ng-click="setConhecimento(talento, 'AngularJs', 5)" class="btn btn-sm btnScale" value="5">5</button>
                                    </div>
                                </div>
                                <div class="row col-sm-12">
                                    <div class="col-sm-4">
                                        <h5 style="padding-top:5px;">Java</h5>
                                    </div>
                                    <div class="col-sm-8">
                                        <button name="Java0" ng-click="setConhecimento(talento, 'Java', 0)" class="btn btn-sm btnScale" value="0">0</button>
                                        <button name="Java1" ng-click="setConhecimento(talento, 'Java', 1)" class="btn btn-sm btnScale" value="1">1</button>
                                        <button name="Java2" ng-click="setConhecimento(talento, 'Java', 2)" class="btn btn-sm btnScale" value="2">2</button>
                                        <button name="Java3" ng-click="setConhecimento(talento, 'Java', 3)" class="btn btn-sm btnScale" value="3">3</button>
                                        <button name="Java4" ng-click="setConhecimento(talento, 'Java', 4)" class="btn btn-sm btnScale" value="4">4</button>
                                        <button name="Java5" ng-click="setConhecimento(talento, 'Java', 5)" class="btn btn-sm btnScale" value="5">5</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 btnList" >
                                <div class="row col-sm-12">
                                    <div class="col-sm-4">
                                        <h5 style="padding-top:5px;">Asp.Net</h5>
                                    </div>
                                    <div class="col-sm-8">
                                        <button name="Asp.Net0" ng-click="setConhecimento(talento, 'Asp.Net', 0)" class="btn btn-sm btnScale" value="0">0</button>
                                        <button name="Asp.Net1" ng-click="setConhecimento(talento, 'Asp.Net', 1)" class="btn btn-sm btnScale" value="1">1</button>
                                        <button name="Asp.Net2" ng-click="setConhecimento(talento, 'Asp.Net', 2)" class="btn btn-sm btnScale" value="2">2</button>
                                        <button name="Asp.Net3" ng-click="setConhecimento(talento, 'Asp.Net', 3)" class="btn btn-sm btnScale" value="3">3</button>
                                        <button name="Asp.Net4" ng-click="setConhecimento(talento, 'Asp.Net', 4)" class="btn btn-sm btnScale" value="4">4</button>
                                        <button name="Asp.Net5" ng-click="setConhecimento(talento, 'Asp.Net', 5)" class="btn btn-sm btnScale" value="5">5</button>
                                    </div>
                                </div>
                                <div class="row col-sm-12">
                                    <div class="col-sm-4">
                                        <h5 style="padding-top:5px;">C</h5>
                                    </div>
                                    <div class="col-sm-8">
                                        <button name="C0" ng-click="setConhecimento(talento, 'C', 0)" class="btn btn-sm btnScale" value="0">0</button>
                                        <button name="C1" ng-click="setConhecimento(talento, 'C', 1)" class="btn btn-sm btnScale" value="1">1</button>
                                        <button name="C2" ng-click="setConhecimento(talento, 'C', 2)" class="btn btn-sm btnScale" value="2">2</button>
                                        <button name="C3" ng-click="setConhecimento(talento, 'C', 3)" class="btn btn-sm btnScale" value="3">3</button>
                                        <button name="C4" ng-click="setConhecimento(talento, 'C', 4)" class="btn btn-sm btnScale" value="4">4</button>
                                        <button name="C5" ng-click="setConhecimento(talento, 'C', 5)" class="btn btn-sm btnScale" value="5">5</button>
                                    </div>
                                </div>
                                <div class="row col-sm-12">
                                    <div class="col-sm-4">
                                        <h5 style="padding-top:5px;">C++</h5>
                                    </div>
                                    <div class="col-sm-8">
                                        <button name="C++0" ng-click="setConhecimento(talento, 'C++', 0)" class="btn btn-sm btnScale" value="0">0</button>
                                        <button name="C++1" ng-click="setConhecimento(talento, 'C++', 1)" class="btn btn-sm btnScale" value="1">1</button>
                                        <button name="C++2" ng-click="setConhecimento(talento, 'C++', 2)" class="btn btn-sm btnScale" value="2">2</button>
                                        <button name="C++3" ng-click="setConhecimento(talento, 'C++', 3)" class="btn btn-sm btnScale" value="3">3</button>
                                        <button name="C++4" ng-click="setConhecimento(talento, 'C++', 4)" class="btn btn-sm btnScale" value="4">4</button>
                                        <button name="C++5" ng-click="setConhecimento(talento, 'C++', 5)" class="btn btn-sm btnScale" value="5">5</button>
                                    </div>
                                </div>
                                <div class="row col-sm-12">
                                    <div class="col-sm-4">
                                        <h5 style="padding-top:5px;">Cake</h5>
                                    </div>
                                    <div class="col-sm-8">
                                        <button name="Cake0" ng-click="setConhecimento(talento, 'Cake', 0)" class="btn btn-sm btnScale" value="0">0</button>
                                        <button name="Cake1" ng-click="setConhecimento(talento, 'Cake', 1)" class="btn btn-sm btnScale" value="1">1</button>
                                        <button name="Cake2" ng-click="setConhecimento(talento, 'Cake', 2)" class="btn btn-sm btnScale" value="2">2</button>
                                        <button name="Cake3" ng-click="setConhecimento(talento, 'Cake', 3)" class="btn btn-sm btnScale" value="3">3</button>
                                        <button name="Cake4" ng-click="setConhecimento(talento, 'Cake', 4)" class="btn btn-sm btnScale" value="4">4</button>
                                        <button name="Cake5" ng-click="setConhecimento(talento, 'Cake', 5)" class="btn btn-sm btnScale" value="5">5</button>
                                    </div>
                                </div>
                                <div class="row col-sm-12">
                                    <div class="col-sm-4">
                                        <h5 style="padding-top:5px;">Django</h5>
                                    </div>
                                    <div class="col-sm-8">
                                        <button name="Django0" ng-click="setConhecimento(talento, 'Django', 0)" class="btn btn-sm btnScale" value="0">0</button>
                                        <button name="Django1" ng-click="setConhecimento(talento, 'Django', 1)" class="btn btn-sm btnScale" value="1">1</button>
                                        <button name="Django2" ng-click="setConhecimento(talento, 'Django', 2)" class="btn btn-sm btnScale" value="2">2</button>
                                        <button name="Django3" ng-click="setConhecimento(talento, 'Django', 3)" class="btn btn-sm btnScale" value="3">3</button>
                                        <button name="Django4" ng-click="setConhecimento(talento, 'Django', 4)" class="btn btn-sm btnScale" value="4">4</button>
                                        <button name="Django5" ng-click="setConhecimento(talento, 'Django', 5)" class="btn btn-sm btnScale" value="5">5</button>
                                    </div>
                                </div>
                                <div class="row col-sm-12">
                                    <div class="col-sm-4">
                                        <h5 style="padding-top:5px;">Majento</h5>
                                    </div>
                                    <div class="col-sm-8">
                                        <button name="Majento0" ng-click="setConhecimento(talento, 'Majento', 0)" class="btn btn-sm btnScale" value="0">0</button>
                                        <button name="Majento1" ng-click="setConhecimento(talento, 'Majento', 1)" class="btn btn-sm btnScale" value="1">1</button>
                                        <button name="Majento2" ng-click="setConhecimento(talento, 'Majento', 2)" class="btn btn-sm btnScale" value="2">2</button>
                                        <button name="Majento3" ng-click="setConhecimento(talento, 'Majento', 3)" class="btn btn-sm btnScale" value="3">3</button>
                                        <button name="Majento4" ng-click="setConhecimento(talento, 'Majento', 4)" class="btn btn-sm btnScale" value="4">4</button>
                                        <button name="Majento5" ng-click="setConhecimento(talento, 'Majento', 5)" class="btn btn-sm btnScale" value="5">5</button>
                                    </div>
                                </div>
                                <div class="row col-sm-12">
                                    <div class="col-sm-4">
                                        <h5 style="padding-top:5px;">PHP</h5>
                                    </div>
                                    <div class="col-sm-8">
                                        <button name="PHP0" ng-click="setConhecimento(talento, 'PHP', 0)" class="btn btn-sm btnScale" value="0">0</button>
                                        <button name="PHP1" ng-click="setConhecimento(talento, 'PHP', 1)" class="btn btn-sm btnScale" value="1">1</button>
                                        <button name="PHP2" ng-click="setConhecimento(talento, 'PHP', 2)" class="btn btn-sm btnScale" value="2">2</button>
                                        <button name="PHP3" ng-click="setConhecimento(talento, 'PHP', 3)" class="btn btn-sm btnScale" value="3">3</button>
                                        <button name="PHP4" ng-click="setConhecimento(talento, 'PHP', 4)" class="btn btn-sm btnScale" value="4">4</button>
                                        <button name="PHP5" ng-click="setConhecimento(talento, 'PHP', 5)" class="btn btn-sm btnScale" value="5">5</button>
                                    </div>
                                </div>

                                <div class="row col-sm-12">
                                    <div class="col-sm-4">
                                        <h5 style="padding-top:5px;">Wordpress</h5>
                                    </div>
                                    <div class="col-sm-8">
                                        <button name="Wordpress0" ng-click="setConhecimento(talento, 'Wordpress', 0)" class="btn btn-sm btnScale" value="0">0</button>
                                        <button name="Wordpress1" ng-click="setConhecimento(talento, 'Wordpress', 1)" class="btn btn-sm btnScale" value="1">1</button>
                                        <button name="Wordpress2" ng-click="setConhecimento(talento, 'Wordpress', 2)" class="btn btn-sm btnScale" value="2">2</button>
                                        <button name="Wordpress3" ng-click="setConhecimento(talento, 'Wordpress', 3)" class="btn btn-sm btnScale" value="3">3</button>
                                        <button name="Wordpress4" ng-click="setConhecimento(talento, 'Wordpress', 4)" class="btn btn-sm btnScale" value="4">4</button>
                                        <button name="Wordpress5" ng-click="setConhecimento(talento, 'Wordpress', 5)" class="btn btn-sm btnScale" value="5">5</button>
                                    </div>
                                </div>
                                <div class="row col-sm-12">
                                    <div class="col-sm-4">
                                        <h5 style="padding-top:5px;">Phyton</h5>
                                    </div>
                                    <div class="col-sm-8">
                                        <button name="Phyton0" ng-click="setConhecimento(talento, 'Phyton', 0)" class="btn btn-sm btnScale" value="0">0</button>
                                        <button name="Phyton1" ng-click="setConhecimento(talento, 'Phyton', 1)" class="btn btn-sm btnScale" value="1">1</button>
                                        <button name="Phyton2" ng-click="setConhecimento(talento, 'Phyton', 2)" class="btn btn-sm btnScale" value="2">2</button>
                                        <button name="Phyton3" ng-click="setConhecimento(talento, 'Phyton', 3)" class="btn btn-sm btnScale" value="3">3</button>
                                        <button name="Phyton4" ng-click="setConhecimento(talento, 'Phyton', 4)" class="btn btn-sm btnScale" value="4">4</button>
                                        <button name="Phyton5" ng-click="setConhecimento(talento, 'Phyton', 5)" class="btn btn-sm btnScale" value="5">5</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 btnList">
                                <div class="row col-sm-12">
                                    <div class="col-sm-4">
                                        <h5 style="padding-top:5px;">Ruby</h5>
                                    </div>
                                    <div class="col-sm-8">
                                        <button name="Ruby0" ng-click="setConhecimento(talento, 'Ruby', 0)" class="btn btn-sm btnScale" value="0">0</button>
                                        <button name="Ruby1" ng-click="setConhecimento(talento, 'Ruby', 1)" class="btn btn-sm btnScale" value="1">1</button>
                                        <button name="Ruby2" ng-click="setConhecimento(talento, 'Ruby', 2)" class="btn btn-sm btnScale" value="2">2</button>
                                        <button name="Ruby3" ng-click="setConhecimento(talento, 'Ruby', 3)" class="btn btn-sm btnScale" value="3">3</button>
                                        <button name="Ruby4" ng-click="setConhecimento(talento, 'Ruby', 4)" class="btn btn-sm btnScale" value="4">4</button>
                                        <button name="Ruby5" ng-click="setConhecimento(talento, 'Ruby', 5)" class="btn btn-sm btnScale" value="5">5</button>
                                    </div>
                                </div>
                                <div class="row col-sm-12">
                                    <div class="col-sm-4">
                                        <h5 style="padding-top:5px;">My SQL Server</h5>
                                    </div>
                                    <div class="col-sm-8">
                                        <button name="MySQLServer0" ng-click="setConhecimento(talento, 'My SQL Server', 0)" class="btn btn-sm btnScale" value="0">0</button>
                                        <button name="MySQLServer1" ng-click="setConhecimento(talento, 'My SQL Server', 1)" class="btn btn-sm btnScale" value="1">1</button>
                                        <button name="MySQLServer2" ng-click="setConhecimento(talento, 'My SQL Server', 2)" class="btn btn-sm btnScale" value="2">2</button>
                                        <button name="MySQLServer3" ng-click="setConhecimento(talento, 'My SQL Server', 3)" class="btn btn-sm btnScale" value="3">3</button>
                                        <button name="MySQLServer4" ng-click="setConhecimento(talento, 'My SQL Server', 4)" class="btn btn-sm btnScale" value="4">4</button>
                                        <button name="MySQLServer5" ng-click="setConhecimento(talento, 'My SQL Server', 5)" class="btn btn-sm btnScale" value="5">5</button>
                                    </div>
                                </div>
                                <div class="row col-sm-12">
                                    <div class="col-sm-4">
                                        <h5 style="padding-top:5px;">My SQL</h5>
                                    </div>
                                    <div class="col-sm-8">
                                        <button name="MySQL0" ng-click="setConhecimento(talento, 'MySQL', 0)" class="btn btn-sm btnScale" value="0">0</button>
                                        <button name="MySQL1" ng-click="setConhecimento(talento, 'MySQL', 1)" class="btn btn-sm btnScale" value="1">1</button>
                                        <button name="MySQL2" ng-click="setConhecimento(talento, 'MySQL', 2)" class="btn btn-sm btnScale" value="2">2</button>
                                        <button name="MySQL3" ng-click="setConhecimento(talento, 'MySQL', 3)" class="btn btn-sm btnScale" value="3">3</button>
                                        <button name="MySQL4" ng-click="setConhecimento(talento, 'MySQL', 4)" class="btn btn-sm btnScale" value="4">4</button>
                                        <button name="MySQL5" ng-click="setConhecimento(talento, 'MySQL', 5)" class="btn btn-sm btnScale" value="5">5</button>
                                    </div>
                                </div>
                                <div class="row col-sm-12">
                                    <div class="col-sm-4">
                                        <h5 style="padding-top:5px;">Salesforce</h5>
                                    </div>
                                    <div class="col-sm-8">
                                        <button name="Salesforce0" ng-click="setConhecimento(talento, 'Salesforce', 0)" class="btn btn-sm btnScale" value="0">0</button>
                                        <button name="Salesforce1" ng-click="setConhecimento(talento, 'Salesforce', 1)" class="btn btn-sm btnScale" value="1">1</button>
                                        <button name="Salesforce2" ng-click="setConhecimento(talento, 'Salesforce', 2)" class="btn btn-sm btnScale" value="2">2</button>
                                        <button name="Salesforce3" ng-click="setConhecimento(talento, 'Salesforce', 3)" class="btn btn-sm btnScale" value="3">3</button>
                                        <button name="Salesforce4" ng-click="setConhecimento(talento, 'Salesforce', 4)" class="btn btn-sm btnScale" value="4">4</button>
                                        <button name="Salesforce5" ng-click="setConhecimento(talento, 'Salesforce', 5)" class="btn btn-sm btnScale" value="5">5</button>
                                    </div>
                                </div>
                                <div class="row col-sm-12">
                                    <div class="col-sm-4">
                                        <h5 style="padding-top:5px;">Photoshop</h5>
                                    </div>
                                    <div class="col-sm-8">
                                        <button name="Photoshop0" ng-click="setConhecimento(talento, 'Photoshop', 0)" class="btn btn-sm btnScale" value="0">0</button>
                                        <button name="Photoshop1" ng-click="setConhecimento(talento, 'Photoshop', 1)" class="btn btn-sm btnScale" value="1">1</button>
                                        <button name="Photoshop2" ng-click="setConhecimento(talento, 'Photoshop', 2)" class="btn btn-sm btnScale" value="2">2</button>
                                        <button name="Photoshop3" ng-click="setConhecimento(talento, 'Photoshop', 3)" class="btn btn-sm btnScale" value="3">3</button>
                                        <button name="Photoshop4" ng-click="setConhecimento(talento, 'Photoshop', 4)" class="btn btn-sm btnScale" value="4">4</button>
                                        <button name="Photoshop5" ng-click="setConhecimento(talento, 'Photoshop', 5)" class="btn btn-sm btnScale" value="5">5</button>
                                    </div>
                                </div>
                                <div class="row col-sm-12">
                                    <div class="col-sm-4">
                                        <h5 style="padding-top:5px;">SEO</h5>
                                    </div>
                                    <div class="col-sm-8">
                                        <button name="SEO0" ng-click="setConhecimento(talento, 'SEO', 0)" class="btn btn-sm btnScale" value="0">0</button>
                                        <button name="SEO1" ng-click="setConhecimento(talento, 'SEO', 1)" class="btn btn-sm btnScale" value="1">1</button>
                                        <button name="SEO2" ng-click="setConhecimento(talento, 'SEO', 2)" class="btn btn-sm btnScale" value="2">2</button>
                                        <button name="SEO3" ng-click="setConhecimento(talento, 'SEO', 3)" class="btn btn-sm btnScale" value="3">3</button>
                                        <button name="SEO4" ng-click="setConhecimento(talento, 'SEO', 4)" class="btn btn-sm btnScale" value="4">4</button>
                                        <button name="SEO5" ng-click="setConhecimento(talento, 'SEO', 5)" class="btn btn-sm btnScale" value="5">5</button>
                                    </div>
                                </div>
                                <div class="row col-sm-12">
                                    <div class="col-sm-4">
                                        <h5 style="margin-bottom: 0;padding-bottom:0px;">
                                            Outro:
                                        </h5>
                                            <label style="font-size: 10px; margin-top: 0; padding-top: 3px;">Avalie de 0-5</label>
                                    </div>
                                    <div class="col-sm-8" style="padding-right: 20px;">
                                        <input type="text" class="form-control" id="txtConhecimento" ng-model="talento.OutroConhecimentoTalento" />
                                        <div style="padding-top: 10px; padding-left: 5px; float: right;">
                                            <button id="btnContinuar5" class="btn btn-primary">Continuar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>

                </div>
                <div class="carousel-item">
                    <div class="container">
                        <div class="row" id="#infoPessoal">
                            <div class="col-md-12">
                                <h6>Insira aqui o link do CRUD (create, update, delete).</h6>
                                <label>
                                    Informações acesse
                                    <a href="https://www.google.com/url?q=https://docs.google.com/document/d/145QuJ8-efr-pmNGV-2DOOGHD-1dc3MERSeL5g0XoqmM&sa=D&ust=1511885300064000&usg=AFQjCNGsBFDCCmpB9IgB2FHQU8WWIMw4yg">Welcome to Easy</a>
                                </label><br /><br />

                                <label for="txtCrud">CRUD:</label>
                                <input ng-model="talento.CrudTalento" type="text" class="form-control" placeholder="Crud" />
                                <div style="padding-top: 25px; padding-left: 5px;float: right" ;>
                                    <button id="btnFinalizar" ng-click="finalizarCadastro(talento)" class="btn btn-primary">Finalizar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="footer col-md-12" style="background-color: #590202; border-top: solid thin white; position: fixed; bottom: 0;">
        <div class="col-sm-12" id="menuBot">
            <div id="divMenuBot">
                <a class="nav-link" href="https://www.easycomtec.com">Easy</a>
            </div>
            <div id="divMenuBot">
                <a class="nav-link" href="https://www.easycomtec.com/work-with-us">Trabalhe Conosco</a>
            </div>
            <div id="divMenuBot">
                <a class="nav-link" href="https://www.google.com/url?q=https://docs.google.com/document/d/145QuJ8-efr-pmNGV-2DOOGHD-1dc3MERSeL5g0XoqmM&sa=D&ust=1511885300064000&usg=AFQjCNGsBFDCCmpB9IgB2FHQU8WWIMw4yg">Mais Informações</a>
            </div>

        </div>
    </div>*@
</div>